dahua_func_flow.json
[{"id":"75c2c623e8a605d8","type":"api-call-service","z":"60f2d2277843c698","name":"Notify Phone","server":"6b1110b5.183a4","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{title}}\",\"message\":\"{{title}}\",\"data\":{\"image\":\"/media/local/camera/{{folder}}/snap{{count}}.jpg\",\"clickAction\":\"/lovelace-test/markdown\",\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":860,"wires":[[]]},{"id":"22bb4c65e89dc43f","type":"function","z":"60f2d2277843c698","name":"cameras","func":"\n\n// isolate relevant incoming JSON\nvar cameraName = msg.payload.event.DeviceName;\nvar ivsRule = msg.payload.event.data.Name;\nvar evco = msg.payload.event.Code;\nvar action = msg.payload.event.action;\n\n// message bounce \n// create varibles for timestamp context stores\n// create camera variable\nvar index = msg.payload.event.index;\nvar cameraPx = \"camera_\";\nvar camera = cameraPx + index;\n\n\n// retrive timer if value does not exist set at 10000\nvar cameraTest = (context.get(camera || 10000));\n// create current time in ms\nvar aTT = new Date().getTime();\n// bounce test  *how long since the last message of that type\nif (aTT < cameraTest) {\n    var aTTr = \"bounce\";\n    // if end of motion/ivs event message\n} else if (action === \"Stop\") {\n    var aTTr = \"Stop\";\n} else {\n    // if new time is longer than delay\n    var aTTr = \"continue\";\n    var aTTd = (aTT + 5000); // add delay in milliseconds\n    context.set(camera, aTTd);\n}\n\n// create empty message objects\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\n\n\n// create message if bounced\nif ((aTTr === \"bounce\") || (aTTr === \"Stop\")) {\n    msg1 = null;\n    msg2 = null;\n    msg3.payload = camera; // output result of bounce test\n} else {\n// create message if passes\n    // phone state\n    const phoneState = global.get('homeassistant.homeAssistant.states[\"sensor.pixel_7_phone_state_2\"].state');\n\n    // create entity type for service call\n    const haDom = \"camera\";  // domain\n    const serv = \"snapshot\"; // service\n    const entityType = \"camera.\"; // same as domain with period\n\n\n    // build snapshot text **output 1**\n    // load counters for snapshots\n    let countIvs = context.get(\"countIvs\") || 100;\n    let countMulti = context.get(\"countMulti\") || 100;\n    let countMotion = context.get(\"countMotion\") || 100;\n\n    // Build entity\n    let cameraEntity = entityType + (cameraName.toLowerCase()).replace(/\\s/g, \"_\") + \"_main\";\n    // convert to lowercase  replace spaces with _   add entity type at begining   add _main to end\n\n    // Text for title and message\n    var mtitle = ((cameraName.toUpperCase()).replace(/XVR /, \"\")).replace(/ FLOOR/, \"\");\n    // convert to upper case  remove XVR and white space from beginning  remove whitespace and FLOOR from end\n    // when present in title\n\n    // rule 1\n    if (evco === \"CrossRegionDetection\" && action === \"Start\" && ivsRule === \"ivs\") {\n\n        countIvs += 1;\n        msg1.payload = {\n            \"domain\": haDom, \"service\": serv, \"data\": { \"entity_id\": cameraEntity },\n            \"driveFolder\": \"single\", // storage folder\n            \"title\": mtitle,\n            \"count\": countIvs,\n            \"rule\": \"one\", // this is for troubleshooting\n        };\n        // rule 2\n    } else if (evco === \"CrossRegionDetection\" && action === \"Start\" && (ivsRule === \"first\" || ivsRule === \"garden\" || ivsRule === \"alley\" || ivsRule === \"basement\")) {\n\n        countMulti += 1;\n        msg1.payload = {\n            \"domain\": haDom, \"service\": serv, \"data\": { \"entity_id\": cameraEntity },\n            \"driveFolder\": \"multi\", // storage folder\n            \"title\": ivsRule.toUpperCase(),\n            \"count\": countMulti,\n            \"rule\": \"two\", // this is for troubleshooting\n        };\n        // rule 3\n    } else if (evco === \"VideoMotion\" && action === \"Start\") {\n\n        countMotion += 1;\n        msg1.payload = {\n            \"domain\": haDom, \"service\": serv, \"data\": { \"entity_id\": cameraEntity },\n            \"driveFolder\": \"motion\", // storage folder\n            \"title\": mtitle,\n            \"count\": countMotion,\n            \"rule\": \"three\", // this is for troubleshooting\n        };\n\n    } else {\n        msg1 = null;\n    }\n\n    // reset counters allow 5 snapshots before overwrite\n    if (countIvs >= 105) {\n        countIvs = 100;\n    }\n\n    if (countMulti >= 105) {\n        countMulti = 100;\n    }\n\n    if (countMotion >= 105) {\n        countMotion = 100;\n    }\n\n    // store counters\n    context.set(\"countIvs\", countIvs);\n    context.set(\"countMulti\", countMulti);\n    context.set(\"countMotion\", countMotion);\n\n\n    // build tts message and rules **output 2**\n    // if on phone, dont send tts \n    if (phoneState === \"offhook\" || action === \"Stop\") {\n        msg2 = null;\n    } else if (ivsRule === \"ivs\" || evco === \"VideoMotion\") {\n        msg2.payload = ((cameraName.toLowerCase()).replace(/xvr /, \"\")).replace(/ floor/, \"\");\n    } else {\n        msg2.payload = ivsRule;\n    }\n\n    msg3.payload = aTTr; //bounce test output\n    //catch all if text output is null do nothing\n    if (msg1 == null) {\n        msg2 == null;\n        msg3 == null;\n    }\n\n\n\n};\n\n// send messages to their outputs\nreturn [msg1, msg2, msg3];\n\n// **msg numbers do not relate to where they go\n// only the message itself \n// return [msg3, msg1, msg2] \n// message 3 to output 1\n// message 1 to output 2\n// message 2 to output 3\n\n\n\n\n\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":920,"wires":[["dcac4adc839af2f6","492a144664cddd58"],["4ba7303440d1081d","bd06552fad2076d9"],["fb655567f902b849"]],"outputLabels":["Camera text","tts","bounced"]},{"id":"60e519a6e6fa396c","type":"server-events","z":"60f2d2277843c698","name":"","server":"6b1110b5.183a4","version":3,"exposeAsEntityConfig":"","eventType":"dahua_event_received","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":230,"y":920,"wires":[["22bb4c65e89dc43f"]]},{"id":"dcac4adc839af2f6","type":"api-call-service","z":"60f2d2277843c698","name":"snapshots","server":"6b1110b5.183a4","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"{\"filename\":\"/media/camera/{{payload.driveFolder}}/snap{{payload.count}}.jpg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"title","propertyType":"msg","value":"payload.title","valueType":"msg"},{"property":"folder","propertyType":"msg","value":"payload.driveFolder","valueType":"msg"},{"property":"count","propertyType":"msg","value":"payload.count","valueType":"msg"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":650,"y":860,"wires":[["75c2c623e8a605d8","254d7e1904e51f0f"]]},{"id":"4ba7303440d1081d","type":"api-call-service","z":"60f2d2277843c698","name":"","server":"6b1110b5.183a4","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"TTS\",\"data\":{\"tts_text\":\"{{payload}}\",\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":920,"wires":[[]]},{"id":"492a144664cddd58","type":"debug","z":"60f2d2277843c698","name":"snapshot text","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":800,"wires":[]},{"id":"254d7e1904e51f0f","type":"debug","z":"60f2d2277843c698","name":"pic message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":800,"wires":[]},{"id":"bd06552fad2076d9","type":"debug","z":"60f2d2277843c698","name":"tts","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":980,"wires":[]},{"id":"fb655567f902b849","type":"debug","z":"60f2d2277843c698","name":"bounced","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":1020,"wires":[]},{"id":"76c1242a86b55f56","type":"inject","z":"60f2d2277843c698","name":"second (rule 1)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"CrossRegionDetection\",\"action\":\"Start\",\"index\":\"3\",\"data\":{\"Action\":\"Appear\",\"Class\":\"Normal\",\"CountInGroup\":1,\"DetectRegion\":[[4168,3111],[4405,7778],[5916,7510],[5388,3160]],\"EventSeq\":26,\"FrameSequence\":2419837,\"GroupID\":0,\"IndexInGroup\":0,\"Mark\":0,\"Name\":\"ivs\",\"Object\":{\"Action\":\"Appear\",\"BoundingBox\":[3752,2840,5112,4664],\"Center\":[4432,3752],\"Confidence\":0,\"FrameSequence\":0,\"ObjectID\":176,\"ObjectType\":\"Unknown\",\"RelativeID\":0,\"Source\":0,\"Speed\":0,\"SpeedTypeInternal\":0},\"PTS\":58592,\"RuleId\":1,\"Sequence\":0,\"Source\":0,\"Track\":null,\"UTC\":1705948123,\"UTCMS\":0},\"name\":\"XVR second floor\",\"DeviceName\":\"XVR second floor\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-22T23:28:45.514691+00:00\",\"context\":{\"id\":\"01HMSR2GEAFBBXNWHDVCK556PJ\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":280,"y":980,"wires":[["22bb4c65e89dc43f"]]},{"id":"af272d0996ddbfe7","type":"inject","z":"60f2d2277843c698","name":"basement (rule 2)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"CrossRegionDetection\",\"action\":\"Start\",\"index\":\"2\",\"data\":{\"Action\":\"Appear\",\"Class\":\"Normal\",\"CountInGroup\":1,\"DetectRegion\":[[5697,7792],[7827,6965],[7954,6187],[5952,7184]],\"EventSeq\":5,\"FrameSequence\":2418608,\"GroupID\":0,\"IndexInGroup\":0,\"Mark\":0,\"Name\":\"basement\",\"Object\":{\"Action\":\"Appear\",\"BoundingBox\":[6312,6024,6984,7272],\"Center\":[6648,6648],\"Confidence\":0,\"FrameSequence\":0,\"ObjectID\":33,\"ObjectType\":\"Unknown\",\"RelativeID\":0,\"Source\":0,\"Speed\":0,\"SpeedTypeInternal\":0},\"PTS\":37761,\"RuleId\":1,\"Sequence\":0,\"Source\":0,\"Track\":null,\"UTC\":1705948103,\"UTCMS\":0},\"name\":\"XVR first floor\",\"DeviceName\":\"XVR first floor\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-22T23:28:24.743001+00:00\",\"context\":{\"id\":\"01HMSR1W57T75MKGFXS2J1A8GM\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":270,"y":1040,"wires":[["22bb4c65e89dc43f"]]},{"id":"6ff0f2f83ffd0814","type":"inject","z":"60f2d2277843c698","name":"first (rule 2)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"CrossRegionDetection\",\"action\":\"Start\",\"index\":\"2\",\"data\":{\"Action\":\"Cross\",\"Class\":\"Normal\",\"CountInGroup\":1,\"DetectRegion\":[[2293,6198],[3986,6222],[3568,7972],[2658,8069],[1893,6660],[2293,6344]],\"Direction\":\"Leave\",\"EventSeq\":10,\"FrameSequence\":2419240,\"GroupID\":0,\"IndexInGroup\":0,\"Mark\":0,\"Name\":\"first\",\"Object\":{\"Action\":\"Appear\",\"BoundingBox\":[2944,3864,4992,7960],\"Center\":[3968,5912],\"Confidence\":0,\"FrameSequence\":0,\"ObjectID\":35,\"ObjectType\":\"Unknown\",\"RelativeID\":0,\"Source\":0,\"Speed\":0,\"SpeedTypeInternal\":0},\"PTS\":48461,\"RuleId\":2,\"Sequence\":0,\"Source\":0,\"Track\":null,\"UTC\":1705948113,\"UTCMS\":0},\"name\":\"XVR first floor\",\"DeviceName\":\"XVR first floor\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-22T23:28:35.553034+00:00\",\"context\":{\"id\":\"01HMSR26Q1RR5FPACJ8A30RQES\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":290,"y":1100,"wires":[["22bb4c65e89dc43f"]]},{"id":"43e2611d25eddcde","type":"inject","z":"60f2d2277843c698","name":"motion start (rule 3)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"VideoMotion\",\"action\":\"Start\",\"index\":\"15\",\"data\":{\"SmartMotionEnable\":false},\"name\":\"XVR front step\",\"DeviceName\":\"XVR front step\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-22T23:24:13.506340+00:00\",\"context\":{\"id\":\"01HMSQT6T2NSYRJGYGYFVE2K5Q\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":270,"y":1160,"wires":[["22bb4c65e89dc43f"]]},{"id":"65971db93f8a3e58","type":"inject","z":"60f2d2277843c698","name":"should return null","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"VideoMotion\",\"action\":\"Stop\",\"index\":\"3\",\"data\":{\"SmartMotionEnable\":false},\"name\":\"XVR second floor\",\"DeviceName\":\"XVR second floor\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-22T23:24:13.969622+00:00\",\"context\":{\"id\":\"01HMSQT78HSZHSW6Y2HY3PXDW6\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":280,"y":1220,"wires":[["22bb4c65e89dc43f"]]},{"id":"07325efcc740f722","type":"inject","z":"60f2d2277843c698","name":"mailbox","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event_type\":\"dahua_event_received\",\"event\":{\"Code\":\"VideoMotion\",\"action\":\"Start\",\"index\":\"1\",\"data\":{\"SmartMotionEnable\":false},\"name\":\"XVR mailbox\",\"DeviceName\":\"XVR mailbox\"},\"origin\":\"LOCAL\",\"time_fired\":\"2024-01-26T20:09:17.318697+00:00\",\"context\":{\"id\":\"01HN3P84R69B5F8JZ7XHXAKG0N\",\"parent_id\":null,\"user_id\":null}}","payloadType":"json","x":310,"y":1280,"wires":[["22bb4c65e89dc43f"]]},{"id":"6b1110b5.183a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
